@model IEnumerable<BTRS.Models.BusTrip>
<head>
    <link rel="stylesheet" href="~/css/Booked.css" />
</head>
@{
    ViewData["Title"] = "Booked";
}


<h1>Booked</h1>
<a asp-action="BusTripList" asp-controller="Passenger">Back to trips list</a>

<table class="Table">
    <thead>
        <tr class="header">
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.trip_destination)
            </th>
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.bus_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th style="width:30%;">
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trip_destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bus_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>

                <a asp-action="cancel" asp-route-id="@item.ID">cancel</a>
            </td>
        </tr>
}
    </tbody>
</table>
