@model IEnumerable<BTRS.Models.BusTrip>
<head>
    <link rel="stylesheet" href="~/css/BusTripList.css" />
</head>
@{
    ViewData["Title"] = "BusTripList";
}

<h1>BusTripList</h1>

<p>
    <a asp-action="Booked" asp-controller="Passenger">Back To Booked Trips</a>
</p>
<table class="Table">
    <thead>
        <tr class="header">
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.trip_destination)
            </th>

            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.bus_number)
            </th>
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trip_destination)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.bus_number)
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
                
            <td>
                
                <a asp-action="AddBooking" asp-route-id="@item.ID">Book</a>
            </td>
               
        </tr>
     
        
}
    </tbody>
</table>
