@model BTRS.Models.Passengers;
<head>
    <link rel="stylesheet" href="~/css/Signup.css" />
</head>
<div class="imgcontainer">
    <img src="~/images/Avatar.png" alt="AVATAR" class="avatar" />
</div>
@using (Html.BeginForm("Signup","Passenger",FormMethod.Post))
{

    <table>

        <tr>
            <td>
                @Html.Label("Name:")
            </td>
           

        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.name,new { @class = "input-form"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Email:")
            </td>
            

        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.email, new { @class = "input-form" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Gender:")
            </td>
            <td>
                @Html.RadioButtonFor(model => model.gender, "M") @Html.Label("Male")
                
                @Html.RadioButtonFor(model => model.gender, "F") @Html.Label("Female")
            </td>
            

        </tr>



        <tr>
            <td>
                @Html.Label("Username:")
            </td>
           

        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.username, new { @class = "input-form" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Password:")
            </td>
           

        </tr>
        <tr>
            <td>
                @Html.PasswordFor(model => model.password, new { @class = "input-form" })
            </td>
        </tr>

    </table>
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    <br />
    <div class="clearfix">
        @Html.ActionLink("Cancel", "Login", "Passenger", null, new { @class = "button-link cancelbtn" })

        @Html.TextBox("Signup", "Signup", new { @Type = "submit", @class = "signupbtn" })
    </div>


}

@if (TempData["Msg"] != null)
{
    <div class="error-message">
        @TempData["Msg"]
    </div>
}



